{% extends 'base.html' %}
{% block title %}
Products list
{% endblock title %}
{% block content %}

<h1>Products</h1>
{% for product in products %}

    {% if product.surplus > 0 %}
           <ul>
      <li><a href="{% url 'product_detail' product.pk %}">  <p>{{ product.name }} : {{ product.price }}</p>
          <p>количество на складе:{{ product.surplus }}</p></a></li>
    </ul>
    {% endif %}

{% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <h3><a href="{% url 'product_create' %}">New_product</a></></h3>
{% endblock content %}